.tp__header__inner
  .tp__mainHeader
    %h1.tp__icon
      = link_to "/", class: "logo_link" do
        = image_tag('material/logo/logo.png', alt: 'フリマのアイコン', class: "logo_image")
    .tp__search-function
      = form_tag("#", method: "get", class: "search_form") do
        = label_tag("searchInput", "")
        = text_field_tag("searchInput", nil, placeholder: "キーワードから探す")
        = button_tag("検索", id: "searchInput", class: "search_btn") do
          .search--icon
            = image_tag('material/icon/icon-search 1.png', alt: '検索アイコン')
    %ul.result_lists
  .tp__header-nav
    %ul.tp__left-container
      %li.tp__left-container__itme.tp__left-container__item--cat
        = link_to 'カテゴリー', "#", id: "catBtn"
        .tree-box
          %ul.catTree
            -#カテゴリー一覧をli要素で書き出す。Ancestry gemについて調べる
      %li.tp__left-container__itme.tp__left-container__item--brand
        = link_to 'ブランド', "#", id: "brandBtn"
        .tree-box
          %ul.brandTree
            -#カテゴリー一覧をli要素で書き出す。Ancestry gemについて調べる
    %ul.tp__right-container
      %li.tp__right-container__item.tp__right-container__item--login
        = link_to 'ログイン', "#", id: "loginBtn"
      %li.tp__right-container__item.tp__right-container__item--new
        = link_to '新規会員登録', "#", id: "newBtn"