.main-containar
  .header-containar
    = link_to "/", class: "header-containar__link" do
      = image_tag "material/logo/logo.png", class: "header-containar__link__logo-img", alt: "FURIMA logo"
  .user-information-registration
    .user-information-registration__text
      発送元・お届け先住所登録
    .user-information-registration__form
      = form_for @sending_destination do |f|
        = render "devise/shared/error_messages", resource: @sending_destination
        .form-group
          = f.label "お名前", class: "label-name"
          %span.form-require
            必須
          %br/
          .form-group__set-input
            = f.text_field :family_name, class: "input-half", placeholder: "例)鈴木"
            = f.text_field :first_name, class: "input-half", placeholder: "例)花子"
        .form-group
          = f.label "お名前カナ", class: "label-name"
          %span.form-require
            必須
          %br/
          .form-group__set-input
            = f.text_field :family_name_kana, class: "input-half", placeholder: "例)スズキ"
            = f.text_field :first_name_kana, class: "input-half", placeholder: "例)ハナコ"
        .form-group
          = f.label :post_code, "郵便番号", class: "label-name"
          %span.form-require 
            必須
          %br/
          = f.text_field :post_code, class: "input-normal", placeholder: "例) 810-0000", maxlength: "8"
        .form-group
          = f.label :prefecture, "都道府県", class: "label-name"
          %span.form-require
            必須
          %br/
          = f.text_field :prefecture, class: "input-normal", placeholder: "例) 福岡県"
        .form-group
          = f.label :city, "市区町村", class: "label-name"
          %span.form-require
            必須
          %br/
          = f.text_field :city, class: "input-normal", placeholder: "例) 福岡市中央区"
        .form-group
          = f.label :house_number, "番地", class: "label-name"
          %span.form-require
            必須
          %br/
          = f.text_field :house_number, class: "input-normal", placeholder: "例) 天神1-1-1"
        .form-group
          = f.label :building_name, "建物名", class: "label-name"
          %span.form-arbitrary
            任意
          %br/
          = f.text_field :building_name, class: "input-normal", placeholder: "例) 福ビル101"
        .form-group
          = f.label :phone_number, "電話番号", class: "label-name"
          %span.form-arbitrary
            任意
          %br/
          = f.number_field :phone_number, class: "input-normal", placeholder: "例) 09011112222"
        = f.submit "登録する", class: "registration-btn"   
  .footer-containar
    .footer-containar__info
      %p.footer-containar__info__text
        プライバシーポリシー
      %p.footer-containar__info__text
        フリマ用規約
      %p.footer-containar__info__text
        特定商取引に関する表記
    = link_to "/", clas: "footer-containar__link" do
      = image_tag "material/logo/logo-white.png", class: "footer-containar__link__logo-img", alt: "FURIMA logo-white"
    %p.footer-containar__inc
      © Furima, Inc.

