= form_for @item do |f|
  .item_pictures
    %rabel.text_title 出品画像
    %b.must 必須
    %br
    %i.upload_picture ※最大10枚までアップロードできます
    %br
    #exhibition-image-box
      #previews
        - if @item.persisted?
          - @item.item_images.each_with_index do |image, i|
            = image_tag image.image.url, data: { index: i }, width: "100", height: "100"
      .button_group
        = f.fields_for :item_images do |image|
          .js-file_group{ data:{index:"#{image.index}"}}
            = image.label :image, "画像を挿入", class: "image-label"
            = image.file_field :image, class: 'js-file', style: "display:none;"
            %br
            %span.js-remove 削除
          - if @item.persisted?
            = image.check_box :_destroy, data:{ index: image.index }, class: "hidden-destroy"
        - if @item.persisted?
          .js-file_group{ data: {index: "#{@item.item_images.count}"}}
            = label_tag "image", "画像を挿入", class: "image-label"
            = file_field_tag :image, name: "item[item_images_attributes][#{@item.item_images.count}][image]", class: 'js-file', style: "display:none;"
            %span.js-remove 削除
  .item_naem_explanation{id:"item_box"}
    %rabel.text_title 商品名 
    %b.must 必須
    %br
    = f.text_field :name, placeholder: "40文字まで"
    %br
    %rabel.text_title 商品の説明
    %b.must 必須
    %br
    = f.text_area :introduction, placeholder: "商品の説明(必須1,000文字以内)(色、素材、重さ、定価、注意点など)商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。 "
  .item_detail{id:"item_box"}
    %h6.rabel 商品詳細
    %br
    %rabel.text_title ブランド
    %b.optional 任意
    %br
    = f.collection_select :brand_id, Brand.all, :id, :name, prompt: "選択してください"

  .listing-form-box
    .listing-item-detail__category
      = f.label 'カテゴリー', class: 'listing-default__label'
      %rabel.listing-default--require 必須
      .listing-select-wrapper
        - if @url.include?("edit") == true then
          = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {selected: @item.category.parent.id}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
          = f.collection_select :category_id, Category.where(ancestry: @item.category.parent.id), :id, :name, {prompt:"選択してください"}, {class: 'listing-select-wrapper__box--select', id: 'child_category'}
        - else
          = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt:"選択してください"}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}


    %br
    %rabel.text_title 商品の状態
    %b.must 必須
    %br
    = f.collection_select :condition_id, Condition.all, :id, :name, prompt: "選択してください"
    %br
    %rabel.text_title サイズ
    %b.must 必須
    %br
    = f.text_field :size, class: "size-input"
    %br
    
  .about_delivery{id:"item_box"}
    %h6.rabel 配送について
    %br
    %rabel.text_title 発送元地域
    %b.must 必須
    %br
    = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください"
    %br
    %rabel.text_title 発送までの日数
    %b.must 必須
    %br
    = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, prompt: "選択してください"
    %br
    %rabel.text_title 配送料負担の情報
    %b.must 必須
    %br
    = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, prompt: "選択してください"
  .item_price_box{id:"item_box"}
    %h5.rabel_price 価格 (¥300〜9,999,999)
    .item_price_box__rabelform
      %br
      %rabel.text_title 価格
      %b.must 必須
      %br
    .item_price_box__inputform  
      = f.number_field :price, class: 'price__input'
    .item_price_box__japanese
      %span ￥
  .submit_box{id:"item_box"}
    - if @url.include?("edit") == true then
      = f.submit '編集を確定する', class: 'form__submit'
    - else
      = f.submit '商品を出品する', class: 'form__submit'
    %br
    = link_to "戻る", root_path, clas: "root__link"