%section.first_impression
  .fi__content
    %h2.content__title 人生を変えるフリマアプリ
    %p.content__text 
      フリマは誰でも簡単に出品・購入できる
      %br フリマアプリです
      = render "module/appStoreIcon"
%section.whyChoose
  %h2.wc__title フリマが選ばれる３つの理由
  %ul.wc__lists
    %li.list
      .list__picture
        %span.number 1
        = image_tag('material/pict/pict-reason-01.jpg')
      %h3.list__text
        %span 3分
        ですぐに出品
      %p.list__description スマホで入力するだけで簡単い出品できる！
    %li.list
      .list__picture
        %span.number 2
        = image_tag('material/pict/pict-reason-02.jpg')
      %h3.list__text
        %span シンプル
        で使いやすい
      %p.list__description
        面倒臭い入力は必要なく、検索も購入もスムーズ！
    %li.list.list--last
      .list__picture
        %span.number 3
        = image_tag('material/pict/pict-reason-03.jpg')
      %h3.list__text 
        手数料
        %span 業界最安
      %p.list__description
        最大3%でお得に出品＆購入！
%section.performance
  .performance__inner
    %h2.pi__title 会員数日本一位
    %p.pi__text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    = render "module/appStoreIcon"
%section.characteristics
  %h2.characteristics__title FURIMAの特徴
  .characteristics__contents
    %section.content
      %figure.content__img
        = image_tag('material/icon/icon-01.png')
      %h3.content__subtitle 
        簡単に売り買いできる
      %p.content__detail 
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %section.content
      %figure.content__img
        = image_tag('material/icon/icon-03.png')
      %h3.content__subtitle 
        売上金は即日振り込みに対応
      %p.content__detail 
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    %section.content
      %figure.content__img
        = image_tag('material/icon/icon-04.png')
      %h3.content__subtitle 
        様々な支払いに対応
      %p.content__detail 
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
%section.pickupCategories.pickup__cont
  %h2.pc__title 
    ピックアップカテゴリー
  .pc__productBox
    .product__title
      = link_to "#", class: "new_items" do
        %h3.title 新規投稿商品
    .product__lists
      -# 商品一覧を表示（最新順）
      = render partial: "product", collection: @products
      -# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
%section.pickupBrands.pickup__cont
  %h2.pc__title 
    ピックアップブランド
  .pc__productBox
    .product__title
      = link_to "#", class: "new_items" do
        %h3.title 人気ブランド商品
    .product__lists
      -# 商品一覧を表示（最新順）--余裕があればブランド名の人気順に表示するようにする--
      = render partial: "product", collection: @products
      -# ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー



