.main-containar
  .header-containar
    = link_to "/", class: "header-containar__link" do
      = image_tag "material/logo/logo.png", class: "header-containar__link__logo-img", alt: "FURIMA logo"
  .middle-containar
    .confirm-purchase-details
      %p.confirm-purchase-details__title
        購入内容の確認
    .group-container
      .item-info
        .item-info__img-box
          = image_tag @item.item_images[0].image, class: "item-info__img-box__img", alt: "#商品画像"
        .item-info__text
          %P.item-info__text__name
            = @item.name
            %br
            *送料*>>
            = @item.postage_payer.name
          %span.item-info__text__postage-payer
            (税込み)
          %span.item-info__text__price
            = "¥#{(BigDecimal(@item.price.to_s) * BigDecimal("1.1")).ceil.to_s(:delimited)}"
    .group-container
      .payment
        %P.payment__title
          支払い金額
        %P.payment__price
          = "¥#{(BigDecimal(@item.price.to_s) * BigDecimal("1.1")).ceil.to_s(:delimited)}"
    .group-container
      .method-of-payment
        %p.method-of-payment__title
          支払い方法
          = link_to "#", class: "method-of-payment__title__change" do
            変更する >
        %p.method-of-payment__card
          クレジットカード
      - if @default_card_information.blank?
        %br /
      - else
        -#以下カード情報を表示
        %p.method-of-payment__number
          = "**** **** **** " + @default_card_information.last4
        %p.method-of-payment__date
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        -# = image_tag "#", class: "method-of-payment__logo", alt: "カードロゴ"
    .group-container
      .delivery-address
        %p.delivery-address__title
          配送先
          = link_to "#", class: "delivery-address__title__change" do
            変更する >
        %p.buyer-post-code
          = current_user.sending_destination.post_code
        %p.buyer-address
          = current_user.sending_destination.prefecture
          = current_user.sending_destination.city
          = current_user.sending_destination.house_number
          = current_user.sending_destination.building_name
          %br
          = current_user.sending_destination.phone_number
        %p.buyer-name
          %br
          = current_user.sending_destination.family_name + current_user.sending_destination.first_name
         
    .group-container
      = form_tag(action: :pay, method: :post) do
        %button{type: "sumit", class: "purchase-btn"}
          購入する
  .footer-containar
    .footer-containar__info
      %p.footer-containar__info__text
        プライバシーポリシー
      %p.footer-containar__info__text
        フリマ用規約
      %p.footer-containar__info__text
        特定商取引に関する表記
    = link_to "/", clas: "footer-containar__link" do
      = image_tag "material/logo/logo-white.png", class: "footer-containar__link__logo-img", alt: "FURIMA logo-white"
    %p.footer-containar__inc
      © Furima, Inc.
