.main-containar
  .header-containar
    = link_to "/", class: "header-containar__link" do
      = image_tag "material/logo/logo.png", class: "header-containar__link__logo-img", alt: "FURIMA logo"
  .item_detail_contents
    .item_detail_contents__box
      %p.item_name
        サッカーボール10個
        -# = @item.name
      .item_square
        .item_square__photo
          .item_square__carousel{ id: 'main' }
            -# = @item.images.each do |image|
            -#   = image_tag image, class: 'image-carousel', size: '300x300'
          .item_square__carousel_sub{id: 'sub'}
            -# = @item.images.each do |image|
            -#   = image_tag image, class: 'image_carousel_reserve', size: '60x60'
        .item_square__text
          %table.item_square__table
            %tbody
              %tr
                %th 出品者
                %td
                  -#  = link_to '/' do
                  -#   = @user.nickname
                  田中
              %tr
                %th カテゴリー
                %td
                  -# = @item.category
                  メンズ/トップス/Tシャツ
              %tr
                %th ブランド
                %td
                  -# = @item.brand
                  NIKE
              %tr
                %th 商品の状態
                %td
                  -# = @item.condition
                  新品・未使用
              %tr
                %th 配送料の負担
                %td
                  -# = @item.postage_payr
                  送料込
              %tr
                %th 配送元地域
                %td
                  -# = @item.prefecture
                  福岡県
              %tr
                %th 発送日の目安
                %td
                  -# = @item.preparation_day
                  1~2日で発送
      .item_price
        %span.item_price__bold
          ¥1,000円
        -# = @item.price
        %span.item_price__tax 税込
        %span.item_price__fee 
          -# 送料込み
          -# - if
          -# 送料込み
          -# - else
          -# 着払い
      .item_center
        .item_center_user


      %button{type: "sumit", class: "item_buy_btn"} 購入画面に進む
      .item_detail_show
        %span.detail_show__text
          詳細内容です。
          -# = @item.introduction
      .item_btn_box
        .item_btn_box__left
          %button{ type: 'button', name: 'like!'}
            %span いいね!
          = link_to '/' do
            %i.far.fa-flag
              %span 不適切な商品の報告
        .item_btn_box__right
          = link_to '/' do
            %i.fas.fa-shopping-bag
              %span あんしん・あんぜんへの取り組み

  -# メッセージ機能、お気に入り機能は必須ではないためコメントアウトしてください。      
  .item_comment_box    
    .item_message_box_detail
      %p.item_message_box_detail__text
        ※こちらにコメントが表示されます
      -# - if @comments
      -#   - @comments.each do |comment|
      -#     %p
      -#       %strong
      -#         = link_to comment.user.nickname, "/users/#{comment.user_id}"
      -#         ：
      -#       = comment.text
    .item_message_box_note  
      %span.item_message_box_note__text 
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .item_message_box_input
      %input{type: "text", class: "comment_input"}
      %button{type: "sumit", class: "comment_btn"} コメントする 
  
  .items_media_box   
    %ul.items_media_box__list
      %li
        = link_to '/' do
          %i.fab.fa-facebook-square
      %li
        = link_to '/' do
          %i.fab.fa-twitter-square
      %li
        = link_to '/' do
          %i.fab.fa-line
  .item_user_list
    -# - @items.each do |item|
    -#   = render partial: "item", locals: { item: item }

  .item_user_profile
    %section.item_user_profile__box
    %h2.item_user_profile__head
      = link_to '/' do
        -# {@user.nickname}さんのその他の出品
    .item_user_profile__content
      -# - @item.each do |item|
        .item_user_profile__box
          %section.item_user_profile__items
            = link_to '#' do
              .item_user_profile__body
                %h3.item_user_profile__name 
                  = item.name
                .itembuy-user-profile__num
                  .item_user_profile__price
                    = item.price.jpy  
  .footer-containar
    .footer-containar__info
      %p.footer-containar__info__text
        プライバシーポリシー
      %p.footer-containar__info__text
        フリマ用規約
      %p.footer-containar__info__text
        特定商取引に関する表記
    = link_to "/", clas: "footer-containar__link" do
      = image_tag "material/logo/logo-white.png", class: "footer-containar__link__logo-img", alt: "FURIMA logo-white"
    %p.footer-containar__inc
      © Furima, Inc.
