.nav-bar
  %ol
    %li.nav-var
      =link_to "#", class: "nav-var-text" do
        メルカリ
    %i.fas.fa-chevron-right
    %li.nav-var
      =link_to "#", class: "nav-var-text" do
        マイページ
    %i.fas.fa-chevron-right
    %li.nav-ber-active
      クレジットカード情報入力

.mypagewrapper
  =render 'module/side-bar'

  .card
    .card__title
      クレジットカード情報入力
    .card__content
      .card__content__form
        = form_for @card do |f|
          .cards-number
            =f.label :カード番号, class: "card-info"
            %span.card-required
              必須
          = f.text_field :card_number, class: "credit-card-number", placeholder: "半角数字のみ", maxlength: "16"
          %ul.card-type
            %li
              %img{src: '//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1398199435', width: "49",height: "20"}
            %li
              %img{src: '//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?1398199435', width: "34",height: "20"}
            %li
              %img{src: '//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?1398199435', width: "30",height: "20"}
            %li
              %img{src: '//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?1398199435', width: "32",height: "20"}
            %li
              %img{src: '//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?1398199435', width: "21",height: "20"}
            %li
              %img{src: '//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?1398199435', width: "31",height: "20"}
            %li
              %img{src: '//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?1398199435', width: "31",height: "20"}

          .expiration-date
            .expiration-date__form
              .cards-number
                =f.label :有効期限, class: "card-info"
                %span.card-required
                  必須
                %br
                  .expiration
                    .expiration-select
                      = f.select :expiration_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{}, class: "expiration-select__tag"
                    %p.expiration__text
                      月
                    .expiration-select
                      = f.select :expiration_year, [["20",20],["21",21],["22",22],["23",23],["24",24],["25",25],["26",26],["27",27],["28",28],["29",29],["30",30]],{}, class: "expiration-select__tag"
                    %p.expiration__text
                      年

          .securitycode
            .securitycode__form
              .cards-number
                =f.label :セキュリティコード, class: "card-info"
                %span.card-required
                  必須
              = f.text_field :secret_code, class: "credit-card-number", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4"

          .what-securitycode
            .what-securitycode__text
              %span.what-securitycode__text__question
                ？
              =f.label :カード裏面の番号とは？, class: "what-securitycode__text__sentence"

          .card-button
            = f.submit "追加する", class: "card-registration-btn", id: "card_token_submit"