!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FurimaApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div{id: "containar"}
      %header.tp__header
        = render "module/header"
      %main.tp__main
        = yield
      -# aside要素はリセットCSSの関係か表示が崩れるので使用できない。
      %div{id: "appBanner"}
        = render "module/supplement"
      %footer.tp__footer
        = render "module/footer"
      =render "module/exhibition-icon"
